/* Name: style.css
   Author: Cory Gyarmathy
   Description: Styling for about
   Version: 1.0
*/

/* base template reference: https://www.w3schools.com/css/tryit.asp?filename=trycss_template1_float */
* {
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto; /* Keeps body centred*/
  max-width: 1200px; /* Set the max width, prevents from getting too wide */
}

.project {
  width: 100%;
  height: 200px;
}

.social_logo {
  height: 20px;
  margin: auto;
  margin-top: 20px;
}

.profile_picture {
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  max-width: 200px;
  width: 100%;
  margin: auto;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 10%;
  text-align: center;
  font-size: 35px;
}

.title {
  height: 50px;
  width: 100%;
}

/* Create three equal columns that floats next to each other */
.column {
  padding: 5px;
  display: grid;
  place-items: start; /* Align items at the start (top left) of the grid container */
  grid-template-rows: min-content; /* First row height is determined by content, second row takes up remaining space */
}

/* Create three equal columns that floats next to each other */
.home-column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 50px; /* Should be removed. Only for demonstration */
  display: grid;
  place-items: center;
  background-color: #3d3636;
}

/* Text styling for home row hyperlinks */
.home-column a {
  color: rgb(248, 247, 247);
  text-decoration: none;
}

.column p {
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0.5em; /* Adjust the desired line spacing value */
  align-self: flex-start; /* Align text to the top of the first row */
}

.column ul {
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0.5em; /* Adjust the desired line spacing value */
}

.row {
  display: flex; /* Use flexbox */
  width: 100%;
  background-color: #bbb
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Clear floats after the columns */
.home-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #555;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  width: 100%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .column {
    flex: none;
    width: 100%;
    object-fit: cover; /* Maintain aspect ratio and fill the container */
  }
}
/* hero image reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hero_image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: auto;
  padding: 3em;
}

.hero-text {
  text-align: center;
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
  
}
